name: Update Meteo Data

on:
  schedule:
    - cron: '0 0,6,12,18 * * *' # Ogni 6 ore
  workflow_dispatch: # Permette avvio manuale

jobs:
  build:
    runs-on: ubuntu-latest
    
    steps:
    - name: Checkout repo
      uses: actions/checkout@v3

    - name: Setup Python
      uses: actions/setup-python@v4
      with:
        python-version: '3.9'

    - name: Install dependencies
      run: |
        sudo apt-get install -y libeccodes-dev
        pip install requests xarray numpy cfgrib

    - name: Run Data Processor
      run: python scripts/process_data.py

    - name: Commit and Push
      run: |
        git config --global user.name "MeteoBot"
        git config --global user.email "bot@meteo.it"
        # IL COMANDO MAGICO: Aggiunge tutto, anche le cartelle nuove
        git add -A 
        git commit -m "Auto-update weather data" || echo "Nessuna modifica"
        git push
        
