name: Update Meteo Data

on:
  schedule:
    - cron: '0 0,6,12,18 * * *'
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest
    permissions:
      contents: write
    
    steps:
    - name: Checkout repo
      uses: actions/checkout@v3

    - name: Setup Python
      uses: actions/setup-python@v4
      with:
        python-version: '3.9'

    - name: Install dependencies
      run: |
        sudo apt-get install -y libeccodes-dev
        pip install requests xarray numpy cfgrib

    - name: Run Data Processor
      # ECCO LA MODIFICA: Ora punta al TUO file corretto
      run: python scripts/update_data.py

    - name: Commit and Push
      run: |
        git config --global user.name "MeteoBot"
        git config --global user.email "bot@meteo.it"
        git add .
        git commit -m "Auto-update weather data" || echo "Nessuna modifica"
        git push
        
